<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />
	
	<bean id="ys" class="com.test02.Student">
		<property name="name" value="위영석" />
		<property name="addr" value="서울" />
		<property name="age" value="30" />		
	</bean>
	<bean id="je" class="com.test02.Student">
		<property name="name" value="박정은" />
		<property name="addr" value="수원" />
		<property name="age" value="25" />
	</bean>

	<bean id="school" class="com.test02.School">
		<property name="grade" value="1" />
	</bean>
</beans>
